mixin paragraph(titolo,testo)
	h3.titolo= titolo
	.testo
		p=testo
			block
	.spias

mixin intro(testo)
	p=testo

mixin imm(src,didasc)
	//- attributes == {class: "btn"}
	img.imm(src=src)
	.didasc=didasc

doctype html
html(lang="en")
	include _head.pug
	body#week
		include _nav.pug
		.header
			block Title
			+intro('sucasucafirtefirte')
		.chapters
			block chapter
				+paragraph('Hello world')
		.footer